.accordion {
  width: 100%;
  border-top: 1px solid #ddd;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  width: 100%;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
}

.icon {
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(180deg);
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.accordion-body.show {
  max-height: 700px;
}

.accordion-content {
  padding-bottom: 20px;
  line-height: 1.8;
  font-size: 12px;
}

.accordion-content ul {
  padding-left: 20px;
}

.accordion-content li {
  margin-bottom: 10px;
  list-style:disc;
}
