.btn {
  display: flex;
  cursor: pointer;
  border-radius: 0.375rem; /* rounded-md */
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem; /* mt-2 */
  width: 100%;
  color: white;
  padding-block: 10px;
  font-size: 10px;
}

.btn-addToCart {
  background-color: var(--button-bg);

  &:hover {
    background-color: rgb(103, 129, 101);
  }
}

.btn-buy {
  background-color: rgb(103, 129, 101);
  &:hover {
    background-color: var(--button-bg);
  }
}
